.both{
    background-color: rgb(202, 194, 194);
    height: 100px;
    border: 12px solid white;
    text-align: center;
}
#center{
    background-color: rgb(202, 194, 194);
    display: flex;
    justify-content: space-between;  
    height: 370px;  
}